<!-- displaying top post -->
<% @tpost.each_with_index do |link, i| %>
  <% a=link.content.gsub! /\s+/, '-' %>
  <% @top=a.to_s.chop %>
  <a href="http://try.discourse.org/t/<%= @top %>/" target="_blank"><%= simple_format link.content %></a>
  <% break if i == 1 %>
<% end %>


<% Toppost.where(tpost: "#{@top}").first_or_create! %>

<% 
@graph = Koala::Facebook::API.new("CAAGCzjI6pisBAMN9rliDuv8BeXibeSzOZCBZAGPRpW9VO2SJt6SXRoTOEKAMunyCTPuJckWaojEGDcZAfOuHoBGZBoZCjcdMQAauIz36efHQosctAOgkMh97UePhMRu7RGZCwqXl1SWJ7XypzZAGLYWOtuUCvxZCmdVQhyVNg8SPTZAB3d4dnGyUEkvzdsnvGsMRPMl6d1ZBgHnDj2Wik1vN6bRZBKf1vwEAi8ZD")
@graph.put_wall_post("hey, i'm learning koala")
%>