<body>

<% if current_user %>

    Welcome <%= current_user.name %>!
    <%= link_to '<i class=" btn btn-pinterest fa fa-power-off"> Sign out</i>'.html_safe, signout_path %>

<% else %>

  <a class="btn btn-social btn-facebook" href="/auth/facebook">
  <i class="fa fa-facebook"></i> Sign in with Facebook </a>

  <a class="btn btn-social btn-twitter" href="/auth/twitter">
  <i class="fa fa-twitter"></i> Sign in with Twitter </a>

<% end %>

<!-- displaying top post -->
<% @tpost.each_with_index do |link, i| %>

  <% input=link.content.gsub(/'/, '') %>
  <% input1=input.gsub! /\s+/, '-' %>
  <% @top=input.to_s.chop %>

    <%# unless @top == '' && i%2 != 0 %>
    <% if @top != '' && i%2 == 0 %>

      <% @toppost = link.content %>

      <div class="panel-heading">
        <h3 class="panel-title">Top Post</h3>
      </div>
      <div class="panel-body">
        <a href="http://try.discourse.org/t/<%= @top %>/" target="_blank"><%= simple_format @toppost %></a>
      </div>

      <% Toppost.where(tpost: "#{@top}", user_id: current_user.id).first_or_create! if current_user %>
      <% current_user.publish("http://try.discourse.org/t/#{@top}/","facebook") if current_user %>

    <% end %>

  <% break if i == 2 %>

<% end %>

<body>